@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

.font-degistir {
  font-family: "Syne Tactile", cursive;
}

.cizgi {
  background-color: black;
  height: 0.5px;
  width: 200px;
  margin: auto;
}

.iceceklericon {
  font-size: 500px !important;
}

.menuKtgr {
  background-color: #a5c24fab;
}
.menuKtgr:hover {
  background-color: #c3e65a;
  transition: 0.5s;
}
